<div class="accordion" id="{{include.title | slugify}}">
  <div class="accordion-item"><span class="accordion-header" id="{{include.title | slugify}}-heading" style="font-weight:bold;"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.title | slugify}}-collapse" aria-expanded="false" aria-controls="{{include.title | slugify}}-collapse">Show/Hide</button></span>
  <div id="{{include.title | slugify}}-collapse" class="accordion-collapse collapse" aria-labelledby="{{include.title | slugify}}-heading" data-bs-parent="#{{include.title | slugify}}">
  <div class="accordion-body">
  {{include.content}}
  </div>
  </div>
  </div>
</div>
